* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('./images/stadium.jpg');
    background-size: cover;
}

#score {
    width: 300px;
    height: 100px;
    font-size: 80px;
    font-family: fantasy;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-right:300px;
}

#board {
    position: relative;
    width: 400px;
    height: 600px;
    margin: 40px auto;
    border: 20px solid white;
    background-color: darkgreen;
    overflow: hidden;
}

#player {
    position: absolute;
    width: 80px;
    height: 80px;
    background: url("./images/player.png");
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    bottom: 0px;
}

.enemy {
    position: absolute;
    top: 0px;
    width: 60px;
    height: 80px;
    background: url("./images/enemy.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.ball {
    position: absolute;
    top: 0px;
    width: 60px;
    height: 80px;
    background: url("./images/ball.png");
    background-size: contain;
    background-repeat: no-repeat;
}