* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#board {
    position: relative;
    width: 400px;
    height: 600px;
    margin: 40px auto;
    border: 2px solid white;
    background-color: black;
    overflow: hidden;
}

#player {
    position: absolute;
    width: 80px;
    height: 80px;
    background: url("./images/player.png");
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    bottom: 0px;
}

.enemy {
    position: absolute;
    top: 0px;
    width: 80px;
    height: 80px;
    background: url("./images/enemy.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.ball {
    position: absolute;
    top: 0px;
    width: 80px;
    height: 80px;
    background: url("./images/ball.png");
    background-size: contain;
    background-repeat: no-repeat;
}